body {
	font-size: 13px;
	font-family: Verdana, Arial, Helvetica;
	margin: 0;
	padding: 0;
}
.category {
	background: #97CA62;
	padding: 10px;
	color: white;
	font-size: 20px;
}
.padding {
	padding: 10px;
}
.background {
	background: #EBEBEB;
}
input[type="text"], input[type="password"], select, input[type="checkbox"] {
	padding: 5px;
	border: 1px solid grey;
	margin: 2px;
	background: #F7F7F7;
}
a {
	color: #7AA350;
	font-size: 15px;
}
.title {
	background: #7AA350;
	color: white;
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
}
input.search {
	width: 98%;
	font-size: 20px;
	padding: 7px;
}
input.searchsubmit {
	background: #333333;
	color: white;
	border: 0;
	padding: 10px;
	border-radius: 0;
}
a.menu {
	background: #8FBE7A url(./images/bg_color.png);
	color: white;
	text-decoration: none;
	margin: 5px;
	padding: 5px;
}
