/**
 * CSS file of the Vienara default theme
*/

/* General styles, like the background, links and fonts */
body {
	background: #D6D6D6;
	font-size: 13px;
	font-family: Verdana, Arial, Helvetica;
	margin: 0;
	padding: 0;
}
a, a:visited, a:hover {
	text-decoration: none;
	color: #76A744;
}
a.grey {
	color: grey!important;
}
#wrapper {
	margin: auto;
	background: white;
	min-width: 500px;
}
#header {
	padding: 15px;
	color: white;
	font-size: 50px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}
.menu, .headerbar {
	background: #78945B;
	padding: 5px;
	color: white;
}
.menu a, .headerbar a {
	color: white;
	margin-right: 5px;
}	

/* Regular content and padding */
.reg_content {
	padding: 20px;
}
.padding {
	padding: 5px;
}

/* Common colors, border colors and backgrounds */
.bg_color {
	background: #89BE51 url(./images/bg_color.png) repeat-x;
	color: white;
	font-weight: normal;
	font-family: Verdana, Arial;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	font-size: 13px;
}
.bg_color2 {
	background: #C0DBA3;
}
.bg_color3 {
	background: #CAE7AC;
}
.bg_color4 {
	background: #F7F7F7;
}
.bg_color5 {
	background: #EBEBEB;
}
.bg_color6 {
 	background: #F1F5EF;
}
.db_border {
	border: 1px solid #EDFEDB;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.cat_bg {
	color: white;
	font-weight: bold;
	padding: 5px;
}
.cat_bg a {
	color: white;
}
.notice {
	border: 1px solid dimgrey;
	background: #F1F1F1;
	margin: 5px;
	padding: 5px;
	border-radius: 5px;
}
.bgwhite {
	background: white;
}
.news {
	padding: 10px;
	border-top: 2px solid #8FBB61;
	border-bottom: 2px solid #8FBB61;
	margin: 10px;
	background: #DAE7CD;
}
.whitelink {
	color: white!important;
}

/* Small css classes that don't fit under other categories */
.copyright {
	text-align: center;
	font-size: 11px;
	margin-bottom: 20px;
}	
hr {
	border: 0;
	border-top: 1px solid grey;
}
.aligncenter {
	text-align: center;
}
.floatright {
	float: right;
}
.floatleft {
	float: left;
}	
.clear {
	clear: both;
}
.radius {
	border-radius: 5px;
}
.new_post, .new_postPHP {
	height: 600px;
}
.bg_color a {
	color: white;
}
strong {
	color: #232323;
}

/* Blog specific styles, including adding new ones */
.title {
	font-size: 20px;
	font-weight: normal;
	color: red;
}
.blog_content .floatleft:first-letter, .blog_content:first-letter {
	color: #638B3E;
	font-weight: bold;
	font-family: Times New Roman;
	font-size: 40px;
}
.editor {
	padding: 5px;
	font: inherit;
	width: 95%;
	height: 150px;
	opacity: 1!important;
	position: relative;
	top: 10;
	left: 10;
	font-family: inherit;
	border: grey 1px solid;
	font-size: 14px;
}
.date {
	background: #6BB74C;
	color: white;
	padding: 5px;
	width: 50px;
	height: 50px;
	font-size: 18px;
	margin: 5px;
}
.date .daymonth {
	font-size: 13px;
}
.blogpost {
	border-left: 10px solid #C3D5AF;
	margin-bottom: 20px;
	padding: 10px;
}
.blogpost:hover {
	background: #F7F7F7;
}
.new_status {
	height: 50px;
	width: 80%;
	border: 1px solid dimgrey;
	font-size: inherit;
	font-family: inherit;
}

/* Form elements */
input[type="text"], input[type="password"], select {
	padding: 5px;
	border: 1px solid grey;
	margin: 2px;
	background: #F7F7F7;
}
input[type="text"]:hover, input[type="password"]:hover, select:hover {
	background: white;
}
input[type="submit"], .more, button {
	background: #A7C78C url(./images/bg_color.png) repeat-x;
	border-radius: 5px;
	padding: 5px;
	min-width: 100px;
	color: white;
	border: 1px solid #639E48;
	font-weight: normal;
	font-family: Verdana, Arial;
	font-size: 12px;
}
.done {
	margin: auto;
	width: 40%;
}

/* The search page */
input.search {
	width: 98%;
	font-size: 20px;
	padding: 7px;
}
input.searchsubmit {
	background: #333333;
	max-width: 100%;
	border: 0;
	border-top: 1px solid #333333;
	padding: 10px;
	border-radius: 0;
}
input.searchsubmit:hover {
	background: #656565;
	border-top: 1px solid #656565;
}
